.root {
    -fx-font-size: 16pt;
    -fx-font-family: "Verdana";
    -fx-text-fill: #fff;
}

.landing {
    -fx-background-image: url("../../images/loadingScreen.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
    
}

.login {
    -fx-background-image: url("../../images/loginScreen.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; 
    -fx-background-size: cover;
}

.createAccount {
    -fx-background-image: url("../../images/loginScreen.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; 
    -fx-background-size: cover;
}

.roomList {
    -fx-background-image: url("../../images/loginScreen.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; 
    -fx-background-size: cover;
}

.puzzleOptions {
    -fx-background-image: url("../../images/puzzlesScreen.png");
    -fx-background-size: 600px 400px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
}

.puzzle {
    -fx-background-image: url("../../images/loginScreen.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
}

.profile {
    -fx-background-image: url("../../images/loginScreen.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; 
    -fx-background-size: cover;
}

.escaped {
    -fx-background-image: url("../../images/escapedScreen.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; 
    -fx-background-size: cover;
}

.inventory {
    -fx-background-image: url("../../images/puzzlesScreen.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; 
    -fx-background-size: cover;
}

.leaderboard {
    -fx-background-image: url("../../images/puzzlesScreen.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; 
    -fx-background-size: cover;
}

.map {
    -fx-background-image: url("../../images/appMap.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; 
    -fx-background-size: cover;
}

.roomProgress {
    -fx-background-image: url("../../images/loginScreen.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; 
    -fx-background-size: cover;
}

.settings {
    -fx-background-image: url("../../images/loginScreen.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
}

.dialog {
    -fx-background-image: url("../../images/dialog.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; 
    -fx-background-size: cover;
}

#landing_label {
    -fx-font-size: 25pt;
    -fx-font-weight: bold;
    -fx-font-family: Verdana;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, darkOrchid, 6, 2.0, 0, 0);
}

#landing_button {
    -fx-font-size: 15pt;
    -fx-font-family: Verdana;
    -fx-background-color: DarkOrchid;
    -fx-text-fill: white;
}

#login_button {
    -fx-font-size: 8pt;
    -fx-font-family: Verdana;
    -fx-background-color: DarkOrchid;
    -fx-text-fill: white;
}

#createaccount_button {
    -fx-font-size: 6pt;
    -fx-font-family: Verdana;
    -fx-background-color: rgb(255, 109, 250);
    -fx-text-fill: white;
}

#guest_button {
    -fx-font-size: 6pt;
    -fx-font-family: Verdana;
    -fx-background-color: rgb(255, 109, 250);
    -fx-text-fill: white;
}

#login_label {
    -fx-font-size: 25pt;
    -fx-font-family: Verdana;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#username_label {
    -fx-font-size: 8pt;
    -fx-font-family: Verdana;
    -fx-text-fill: white;
}

#password_label {
    -fx-font-size: 8pt;
    -fx-font-family: Verdana;
    -fx-text-fill: white;
}

#lbl_error {
    -fx-font-size: 12pt;
    -fx-font-family: Verdana;
    -fx-text-fill: white;
}

#chooseroom_label {
    -fx-font-size: 23pt;
    -fx-font-weight: bold;
    -fx-font-family: Verdana;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, darkOrchid, 5, 1.0, 0, 0);
}

#CreateAccount_label {
    -fx-font-size: 25pt;
    -fx-font-family: Verdana;
    -fx-text-fill: white;
}

#CreateAccount_button {
    -fx-font-size: 12pt;
    -fx-font-family: Verdana;
    -fx-background-color: DarkOrchid;
    -fx-text-fill: white;
}

#profile_image {
    -fx-background-image: url("/images/profileIcon.PNG");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;  
    -fx-background-position: center;
}

#leaderboard_image {
    -fx-background-image: url("/images/leaderboardIcon.PNG");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;  
    -fx-background-position: center;
}

#inventory_image {
    -fx-background-image: url("/images/chestIcon.PNG");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;  
    -fx-background-position: center;
}

#settings_image {
    -fx-background-image: url("/images/settingsIcon.PNG");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;  
    -fx-background-position: center;
}

#map_image {
    -fx-background-image: url("/images/mapIcon.PNG");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;  
    -fx-background-position: center;
}

#room5_pane {
    -fx-background-image: url("/images/exclamation-mark-2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;  
    -fx-background-position: center;
}

#room6_pane {
    -fx-background-image: url("/images/exclamation-mark-2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;   
    -fx-background-position: center;
}

#timer_label {
    -fx-font-size: 16pt;
    -fx-font-family: Verdana;
    -fx-text-fill: white;
}

#hint_button {
    -fx-font-size: 12pt;
    -fx-font-family: Verdana;
    -fx-background-color: DarkOrchid;
    -fx-text-fill: white;
}

#submit_button {
    -fx-font-size: 12pt;
    -fx-font-family: Verdana;
    -fx-background-color: DarkOrchid;
    -fx-text-fill: white;
}

#close_button {
    -fx-font-size: 12pt;
    -fx-font-family: Verdana;
    -fx-background-color: DarkOrchid;
    -fx-text-fill: white;
}

#question_label {
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-background-color: rgba(153, 50, 204, 0.6);
}

#earnedItem_label {
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#profile_label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, darkOrchid, 5, 1.0, 0, 0);
}

#username_label1 {
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#difficulty_label {
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#currentroom_label {
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#username_txt {
    fx-font-size: 12pt;
}

#difficulty_txt {
    fx-font-size: 12pt;
}

#currentroom_txt {
    fx-font-size: 12pt;
}

#back_button {
    -fx-font-size: 12pt;
    -fx-font-family: Verdana;
    -fx-background-color: DarkOrchid;
    -fx-text-fill: white;
}

#escaped_label {
    -fx-font-size: 23pt;
    -fx-font-weight: bold;
    -fx-text-fill: DarkOrchid;
}

#finalScore_label {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-text-fill: DarkOrchid;
}

#finishTime_label {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-text-fill: DarkOrchid;
}

#hintsUsed_label {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-text-fill: DarkOrchid;
}

#difficulty {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-text-fill: DarkOrchid;
}

#exit_button {
    -fx-font-size: 12pt;
    -fx-font-family: Verdana;
    -fx-background-color: DarkOrchid;
    -fx-text-fill: white;
}

#inventory_label {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-text-fill: DarkOrchid;    
}

#close_button {
    -fx-font-size: 12pt;
    -fx-font-family: Verdana;
    -fx-background-color: DarkOrchid;
    -fx-text-fill: white;
}

#Progress {
    -fx-font-size: 23pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, darkOrchid, 6, 2.0, 0, 0);
    -fx-alignment: center;
}

#timeLeft_label {
    -fx-font-size: 10pt;
    -fx-text-fill: white;
}

#hintsUsed_label {
    -fx-font-size: 10pt;
    -fx-text-fill: white;
}

#puzzlesSolved_label {
    -fx-font-size: 10pt;
    -fx-text-fill: white;
}

#Setting_label {
    -fx-font-size: 23pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, darkOrchid, 5, 1.0, 0, 0); 
    -fx-alignment: center;
}

#Volume_label {
    -fx-font-size: 12pt;
    -fx-font-family: Verdana;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#Difficulty_label {
    -fx-font-size: 12pt;
    -fx-font-family: Verdana;
    -fx-text-fill: DarkOrchid;
}

#Easy_button {
    -fx-font-size: 10pt;
    -fx-font-family: Verdana;
    -fx-background-color: DarkOrchid;
    -fx-text-fill: white;
}

#Medium_button {
    -fx-font-size: 10pt;
    -fx-font-family: Verdana;
    -fx-background-color: DarkOrchid;
    -fx-text-fill: white;
}

#Hard_button {
    -fx-font-size: 10pt;
    -fx-font-family: Verdana;
    -fx-background-color: DarkOrchid;
    -fx-text-fill: white;
}

#Logout_button {
    -fx-font-size: 10pt;
    -fx-font-family: Verdana;
    -fx-background-color: DarkOrchid;
    -fx-text-fill: white;
}

#Back_button {
    -fx-font-size: 10pt;
    -fx-font-family: Verdana;
    -fx-background-color: DarkOrchid;
    -fx-text-fill: white;
}

#story_lines {
    -fx-text-fill: white;
    -fx-font-family: Verdana;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-text-alignment: center-right;
}

#roomlist_grid {
    -fx-background-color: white;
    -fx-border-color: DarkOrchid;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

#inventory_pane {
    -fx-background-color: white;
    -fx-border-color: DarkOrchid;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

#inventory_grid {
    -fx-padding: 10px;
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}

#choosedoor_label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15pt;
}

#next_button {
    -fx-font-size: 10pt;
    -fx-font-family: Verdana;
    -fx-background-color: DarkOrchid;
    -fx-text-fill: white;
}

#leaderboard_label {
    -fx-font-size: 23pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, darkOrchid, 5, 1.0, 0, 0); 
    -fx-alignment: center;
}

.difficulty-box {
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-alignment: center;
    -fx-background-color: #cf97ff;
    -fx-background-radius: 12;
}
.difficulty-header { 
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: DarkOrchid;
}
.difficulty-button {
    -fx-font-size: 14px;
    -fx-padding: 8 16;
    -fx-background-color: #ece7ff;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}
.difficulty-button:hover {
    -fx-background-color: #e0d8ff;
}
.room-box {
    -fx-padding: 10;
    -fx-spacing: 8;
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-alignment: center;
}
.room-label {
    -fx-font-size: 14px;
    -fx-text-fill: Darkorchid;
}
.room-image {
    -fx-cursor: hand;
}
.room-image:hover {
    -fx-opacity: 0.9;
}
.leaderboard-row {
    -fx-padding: 2 6;
    -fx-spacing: 10;
    -fx-alignment: center-left;
    -fx-background-color: #faf7ff;
    -fx-background-radius: 8;
}
.lb-position {
    -fx-font-weight: bold;
    -fx-text-fill: darkorchid;
    -fx-font-size: 16pt;
}
.lb-name {
    -fx-text-fill: #444;
    -fx-font-size: 12pt;
}
.lb-score {
    -fx-text-fill: #444;
    -fx-font-size: 12pt;
}

#return_button {
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-text-fill: white;
}


