.root {
    -fx-font-size: 16pt;
    -fx-font-family: "Verdana";
    -fx-text-fill: #fff;
}

.landing {
    -fx-background-image: url("../../images/loadingScreen.png");
    -fx-background-position: center; 
    -fx-background-size: 750px 580px;
    
}

.login {
    -fx-background-image: url("../../images/loginScreen.png");
}

.createAccount {
    -fx-background-image: url("../../images/loginScreen.png");
}

.roomList {
    -fx-background-image: url("../../images/loginScreen.png");
}

#landing_label {
    -fx-font-size: 25pt;
    -fx-font-family: Verdana;
    -fx-text-fill: DarkOrchid;
}

#landing_button {
    -fx-font-size: 15pt;
    -fx-font-family: Verdana;
    -fx-background-color: DarkOrchid;
    -fx-text-fill: white;
}

#login_button {
    -fx-font-size: 8pt;
    -fx-font-family: Verdana;
    -fx-background-color: DarkOrchid;
    -fx-text-fill: white;
}

#createaccount_button {
    -fx-font-size: 6pt;
    -fx-font-family: Verdana;
    -fx-background-color: rgb(255, 109, 250);
    -fx-text-fill: white;
}

#guest_button {
    -fx-font-size: 6pt;
    -fx-font-family: Verdana;
    -fx-background-color: rgb(255, 109, 250);
    -fx-text-fill: white;
}

#login_label {
    -fx-font-size: 25pt;
    -fx-font-family: Verdana;
    -fx-text-fill: white;
}

#username_label {
    -fx-font-size: 8pt;
    -fx-font-family: Verdana;
    -fx-text-fill: white;
}

#password_label {
    -fx-font-size: 8pt;
    -fx-font-family: Verdana;
    -fx-text-fill: white;
}

#lbl_error {
    -fx-font-size: 12pt;
    -fx-font-family: Verdana;
    -fx-text-fill: white;
}

#chooseroom_label {
    -fx-font-size: 23pt;
    -fx-font-weight: bold;
    -fx-font-family: Verdana;
    -fx-text-fill: DarkOrchid;
}



