.root {
    -fx-font-size: 16pt;
    -fx-font-family: "Verdana";
    -fx-text-fill: #fff;
    -fx-background-image: url("../../images/loadingScreen.png");
}

.label {
    -fx-text-fill: DarkOrchid;
}

.button {
    -fx-background-color: DarkOrchid;
    -fx-text-fill: #fff;
}

